@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
  background-color: white;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.image {
  width: 30%;
  margin-bottom: 10px;
  border-radius: 9px;
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.image:hover {
  -webkit-filter: brightness(100%);
}
.image:active {
  -webkit-filter: brightness(100%);
}

.search {
  margin-top: 10px;
  background-color: #ffecef;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 9px;
  padding-left: 10px;
}
